body
{
    font-family: vardana;
    font-size: 2em;
}

#countLabel
{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}
#btncontainer
{
    text-align: center;
}

.buttons
{
    padding: 10px 20px;
    font-size: 0.5em;
    color : white;
    background-color: rgb(75, 75, 230);
    border-radius: 5px;
    cursor : pointer;
    transition : background-color 0.25s;
}
.buttons:hover
{
    background-color: rgb(62, 62, 139);
}